<div class="container">
  <h1>List of Cars</h1>
  <div [ngStyle]="{backgroundColor: getPetrolColor()}">
    <p><b>Alto K10:</b><br>
      1) Less space<br>
      2) More Mileage<br>
      3) Lest Cost</p>
  </div>
  <div [ngStyle]="{backgroundColor: getDieselColor()}">
    <p><b>Celario:</b><br>
      1) Spacious<br>
      2) Engine is noisy<br>
      3) More Fuel efficieny</p>
  </div>
  <div [ngStyle]="{backgroundColor: getElectricColor()}">
    <p><b><em>Maruthi SWIFT:</em></b><br>
      1) Best in Space<br>
      2) Best in Mileage<br>
      3) Best in Aesthetics<br>
      4) Best in Safety<br>
      5) A perfect <em>HATCHBACK CAR</em> for a family.</p><br>
  </div>
</div>
