<div id="container">
  <div id="left">
    <h1 id="welcome">Welcome</h1>
    <p id="lorem">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
      Vivamus sodales eros non arcu pellentesque convallis.<br>
      Nunc dignissim lectus in malesuada porta.<br>
      Proin ac erat sed urna congue suscipit.<br>
      Morbi aliquet eget nisl id ornare.
    </p>
  </div>
  <div id="right">
    <h1 id="login">LogIn</h1><br>
    <form [formGroup]="loginForm" #login="ngForm" (ngSubmit)="something({data : login.value})">
      <div class="form-group " style="padding-bottom: 20px">
        <input style="padding-left: 20px" type="name" id="name" name="name" class="form-control" formControlName="name" placeholder="Enter Name">
      </div>
      <div class="form-group " style="padding-bottom: 20px">
        <input style="padding-left: 20px" type="email" id="email" name="email" class="form-control" formControlName="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
      <input style="padding-left: 20px" type="password" id="password" name="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
      <input type="submit" id="submit" class="client-info" value="Submit">
     </form>

    <button class="social" id="facebook">connect with facebook</button>
    <button class="social" id="google">connect with google</button>
  </div>
</div>
